<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
   <h3>Hello, <%= name %></h3>
    <div class="jumbotron text-center">
        <h1>Inventory Management System</h1>
    </div>
    <div class="row ml-md-auto">
        <a href="/create" role="button">Create New Inventory</a> <br><br>
        <a href="/find" role="button">Find Inventory</a> <br><br>
        <a href="/update" role="button">Update Inventory</a> <br><br>
        <a href="/delete" role="button">Delete Inventory</a> <br><br>
        <br>
        <a href="/logout" role="button"><i>Logout</i></a>
    </div>

</body>
</html>
